node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.override.yml
.git
.gitignore
README.md
.DS_Store
Thumbs.db